<div id="app">
  <div class="container">
    <div class="row" style="margin-top: 3rem;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img src="assets/profile.jpg" class="img-fluid" style="border-radius: 10px 100px / 120px;">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2>Hi👋, I am Alok Raj.</h2>
        <h3></h3>
        <h4>Senior Software Engineer <a target="_blank" style="text-decoration: none;" href="https://www.globant.com/">@globant</a>
        </h4>
        <h5>Web UI Developer(ReactJS)</h5>
        <h6 class="h6Style"><i class="fa fa-phone"></i> +91-8240159173</h6>
        <h6 class="h6Style"><i class="fa fa-envelope"></i> alokr417@gmail.com</h6>
        <h6 class="h6Style"><i class="fa fa-location-arrow"></i> Pune,India</h6>
        <hr>
        <ul>
          <li>Inquisitive Software Development Specialist with <b>2+</b> years of experience in developing web applications.</li>
          <li>Proficient in developing end-to-end <b>Javascript</b> web applications.</li>
          <li>A full stack developer who can also work on <b>backend</b> technologies, if required.
            Hands-on experience in major JavaScript Frameworks and libraries like <b>Angular 2+</b>, <b>React</b> and <b>VueJS</b> with advanced JavaScript concepts.</li>
          <li>Have knowledge and experience of the <b>Agile</b> process. Experience in collaborating with external development teams.</li>
          <li>Takes utmost care in following best practices, standards and always tries to write <b>clean & reusable</b> code.</li>
          <li>Being a fresher, I surpassed many expectations for which he is recognized with many accolades.</li>
          <li><b>Open source</b> enthusiast (opendevs.in)(alokraj.tech)</li>
          <li>With a <b>Go-Getter</b> attitude and have zeal to learn <b>new technologies</b>.</li>
        </ul>
        <hr>
        <p>The only objective of my life is <b>To Learn & Be Valuable</b>.</p>
        <!-- <button class="btn btn-dark btn-lg" (click)="onDownload()">Resume</button> -->
      </div>
    </div>
  </div>
</div>
<div align="center" style="margin-top: 2%;">
  <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/alok722"
    class="fa fa-facebook fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://github.com/alok722" class="fa fa-github fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://api.whatsapp.com/send?phone=918240159173"
    class="fa fa-whatsapp fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://www.linkedin.com/in/alok722/"
    class="fa fa-linkedin fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://www.instagram.com/alok_cse/?hl=en"
    class="fa fa-instagram fas"></a>
</div>
