<div id="app">
  <div class="container">
    <h1 style="font-family: 'Special Elite', cursive;text-decoration: underline; font-weight: bold;">About Developer
    </h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/profile.jpg" class="img-fluid" style="border-radius: 10px 100px / 120px;">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2><b>Alok Raj.</b></h2>
        <h4>Assistant System Engineer at <a target="_blank" style="text-decoration: none;" href="http://tcs.com">TCS</a>
        </h4>
        <h5>JavaScript Developer</h5>
        <h6 style="font-family: sans-serif;color: #000"><i class="fa fa-phone"></i> +91-8240159173</h6>
        <h6 style="font-family: sans-serif;color: #000"><i class="fa fa-envelope"></i> alokr417@gmail.com</h6>
        <h6 style="font-family: sans-serif;color: #000"><i class="fa fa-location-arrow"></i> Bangalore,India</h6>
        <hr>
        <p>I am a Assistant system engineer at TCS. This website is made using Angular and currently I am learning MEAN
          Stack and it's great. <b>Web & Android App Develpment</b> excites me and I am learning more about it every
          day. My Dreams Are Big and I Believe In Living Dream.</p>
        <hr>
        <p>Aspiring JavaScript Developer</p>
        <hr>
        <p>MEAN Stack Developer | Laravel Developer | Web Developer | WordPress Developer | Learner | Tech-Enthusiast |
          Frontend Android Developer | Chai-Lover</p>
        <hr>
        <p>The only objective of my life is <b>To Learn & Be Valuable</b>.</p>
        <!-- <a target="_blank" href="https://zety.com/mycv/resume_alok" class="btn btn-primary btn-lg"
          role="button">Resume</a> -->
        <button class="btn btn-primary btn-lg" (click)="onDownload()">Resume</button>
      </div>
    </div>
  </div>
</div>
<div align="center" style="margin-top: 2%;">
  <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/people/Alok-Raj/100010071970453"
    class="fa fa-facebook fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://github.com/alok722" class="fa fa-github fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://api.whatsapp.com/send?phone=918240159173"
    class="fa fa-whatsapp fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://www.linkedin.com/in/alok722/"
    class="fa fa-linkedin fas"></a>
  <a style="text-decoration: none;" target="_blank" href="https://www.instagram.com/alok_cse/?hl=en"
    class="fa fa-instagram fas"></a>
</div>
<div class="container" style="margin-top: 2%; text-align: center;">
  <footer>
    <p>&copy; 2019 PicsumGallery, Inc. &middot; <a href="">Privacy</a> &middot; <a href="">Terms & Condition</a></p>
  </footer>
</div>