<mat-toolbar color="warn">
	<span [routerLink]="['/']" style="cursor: pointer;" id="title">ANGULAR GALLERY</span><span class="spacer"></span>
	<div>
		<button mat-button routerLinkActive="active" [routerLink]="['/home']"><i>HOME</i></button>
		<button mat-button routerLinkActive="active" [routerLink]="['/favorites']"><i>FAVORITES</i></button>
		<button mat-button routerLinkActive="active" [routerLink]="['/contact']"><i>CONTACT US</i></button>
	</div>
</mat-toolbar>

<div class="container">
	<router-outlet></router-outlet>
</div>